//
//
// 네스팅 3번이상 금지 / 보기 개불편함 ㄹㅇ

// normalize
/* Box-sizing을 모든 요소에 적용하여 크기 계산을 통일시킴 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* HTML5 블록 요소들을 일관성 있게 표시함 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body에 기본 스타일과 여백 제거 */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

/* 텍스트박스 여백 제거 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* 리스트 스타일 제거 */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 링크에 밑줄 제거 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지의 기본 여백 및 크기 통일 */
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* 폼 요소의 기본 스타일 통일 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

iframe {
  border: none;
}

// stylize
// variable
$font__max: 0.52083333vw;
$font__min: 8px;

// font size
$fontXXL: 8rem;
$fontXL: 7rem;
$fontL: 5.4rem;
$fontXXM: 4rem;
$fontXM: 2.6rem;
$fontM: 2rem;
$fontS: 1.8rem;
$fontXS: 1.4rem;

// color
$bg-color: #7d7d7d;

// grid size
$gridSize: 180.5rem;

// html font size
html {
  font-size: max($font__min, $font__max);
  overflow-x: hidden;
}

// body
body {
  font-family: "Pretendard", sans-serif;
  background-color: black;
  color: white;
  position: relative;
}

// libs
.img-box {
  line-height: 0;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.svg-box {
  line-height: 0;
}
.upperC {
  text-transform: uppercase;
}

// component
.section > .content-wrap {
  width: 100%;
  max-width: $gridSize;
  margin: 0 auto;
  padding: 15rem 0;
}

// loading page
.loading-page {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1001;
  width: 100%;
  height: 100dvh;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.loading-page > .text-box {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
  h2 {
    font-size: 12.5rem;
    span {
      display: inline-block;
    }
  }
}
.loading-page > .img-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -20%);
  width: 30rem;
  > img {
    object-fit: contain;
  }
}
.loading-page > .percentage {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 16rem;
  font-weight: 700;
}
@keyframes loadLogo {
  0% {
    transform: translate(0%, 0%);
  }
  99% {
    transform: translate(-44.2%, -45%) scale(0.05721);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-44.2%, -45%) scale(0.05721);
    opacity: 0;
    visibility: hidden;
  }
}
.loading-logo {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  animation: loadLogo 1s 6s 1 both ease-in-out;
  img {
    object-fit: contain;
  }
}

//header
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: $fontM;
  animation: opacity 1s 6.75s 1 both;

  .header-wrap {
    max-width: $gridSize;
    height: 9.6rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
    }

    .menu-box-wrap {
      display: flex;
      gap: 8rem;
    }

    .menu-box {
      display: flex;
      gap: 8rem;
    }

    .menu-item {
      display: flex;
      align-items: center;
    }
    .menu-item.language {
      a {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid #fff;
        padding: 0.5rem 1.3rem;
        border-radius: 99rem;

        svg {
          width: 2rem;
        }
      }
    }
    .nav-btn {
      display: none;
      //   display: flex;
      align-items: center;

      svg {
        width: 30px;
      }
    }
  }
}

// mobile nav
.mob-nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  font-size: 2rem;
  font-weight: 700;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  .mob-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-width: 320px;
    height: 100dvh;
    background-color: black;
    padding: 0 12px;
  }
}

.mob-nav-wrap.active {
  visibility: visible;
  opacity: 1;
}

// mobile nav header
.mob-nav-wrap > .mob-nav > .mob-nav-header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;

  > .btn-close {
    cursor: pointer;
  }
}
.mob-nav-wrap > .mob-nav > ul {
  padding: 0 12px;
  > li {
    margin-bottom: 4rem;
  }
}

// section1
.section-1 {
  overflow-x: hidden;
  .iframe-box {
    position: relative;
    pointer-events: none;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 0;
    }
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
      position: relative;
    }
  }
}

// youtube ui hide
.youtube-container {
  overflow: hidden;
  width: 100%;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
  /* No clicking/hover effects */
  pointer-events: none;

  iframe {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 100%;
    /* ...and bring it back again */
    margin-left: -100%;
  }
}

// section 2
.section-2 {
  width: 100%;
  height: 100vh;
  position: relative;

  .content-wrap {
    height: 100%;
    padding: 15rem 0;
  }
}

// section 2 texts
.section-2 .content-wrap > h2 {
  position: relative;
  font-size: 6rem;
  margin-top: 5rem;
  white-space: nowrap;
  span.base {
    color: rgba(255, 255, 255, 0.6);
  }
  span.overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0%;
    color: #fff;
    z-index: 1;
    overflow: hidden;
  }

  &:nth-child(4) {
    font-size: $fontXL;
  }
}

// section 3
.section-3 {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;

  //section 3 vertical line
  .line {
    position: absolute;
    width: 0.1rem;
    height: 20rem;
    background-color: white;
    z-index: 1;
  }
  .line-top {
    transform: translate(0, -50%);
    left: 50%;
    top: 0%;
  }
  .line-bottom {
    transform: translate(0, 50%);
    left: 50%;
    bottom: 0%;
  }
}

// section 3 header
.section-3 > .content-wrap {
  padding: 15rem 0;
  > h2 {
    font-size: $fontL;
    text-align: center;
  }
}

// section 3 item card
.section-3 > .content-wrap > .portfolio {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  align-items: center;
  padding-top: 8rem;

  .port-item {
    display: flex;
    text-align: center;
    width: 34rem;

    > a {
      display: block;
      width: 100%;

      > .img-box {
        img {
          width: 100%;
          aspect-ratio: 2.125 / 1;
          border-radius: 20px;
          outline: 0.2rem solid black;
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.6);
        }
      }
      > .text {
        padding-top: 2rem;
        font-size: $fontM;
      }
    }
  }
}

// section 4
$section4Gap: 2vw;

.section-4 {
  .content-wrap {
    margin: 0;
    max-width: 100%;
    > h2 {
      text-align: center;
      font-size: $fontXL;
    }

    > .item-container {
      display: flex;
      gap: $section4Gap;
      margin: 0;
      max-width: 100%;
      padding-top: 15rem;
    }
  }
}

// item box component
.section-4 > .content-wrap > .item-container > .item-box {
  flex: 1 1 auto;
  ul {
    display: flex;
    flex-direction: column;
    gap: $section4Gap;

    .img-box {
      > img {
        aspect-ratio: 1.323 / 1;
      }
    }
  }
}

.section-4 > .content-wrap > .item-container > .item-box-2 {
  transform: translateY(-15rem);
}

//footer
.footer {
  .content-wrap {
    width: 100%;
    max-width: $gridSize;
    margin: 0 auto;
    overflow: hidden;
  }
}

//footer marquee
$marquee-gap: 8rem;
.footer > .content-wrap > .marquee-container {
  display: flex;
  width: 100%;
  height: 100%;
  border-top: $bg-color solid 1px;
  border-bottom: $bg-color solid 1px;
  padding: 7rem 0;

  > .marquee-wrap {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;

    > .marquee-slide {
      padding-left: $marquee-gap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      gap: $marquee-gap;
      font-size: 9.6rem;
      font-weight: 700;

      a {
        background: linear-gradient(90deg, white, rgba(255, 255, 255, 0.6));
        background-clip: text;
        color: transparent;
      }

      > .dot {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 9rem;
        background-color: white;
      }
    }
  }
}

//footer info
.footer > .content-wrap > .footer-info {
  padding: 3rem 0;
  // top
  > .footer-top {
    display: flex;
    justify-content: space-between;

    > .item-2 {
      h3 {
        font-size: $fontXXL;
        text-align: right;
      }

      .now-btn {
        font-size: 6rem;
        font-weight: 500;
        text-align: right;
        color: #c7c7c7;

        > a {
          display: inline-block;
          border: white solid 1px;
          border-radius: 10rem;
          padding: 0.4rem 8rem;
          margin-top: 2rem;
          line-height: 1;
          overflow: hidden;
          position: relative;
          transition: all 0.5s;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #fff;
            width: 0px;
            height: 0px;
            border-radius: 10rem;
            transform: translate(-50%, -50%);
            transition: all 0.8s ease;
            z-index: -1;
          }

          &:hover {
            color: black;

            &::after {
              width: 40rem;
              height: 35rem;
            }
          }
        }
      }
    }
  }

  // bottom
  > .footer-btm {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 5rem;

    .item-3 {
      > .info-grid {
        display: flex;
        flex-direction: column;
        font-size: $fontXM;
        gap: 1.5rem;

        > .flex-box {
          display: flex;
          // justify-content: space-between;
          // gap: 2rem;

          > li {
            min-width: 13rem;
            display: inline-block;
          }
        }
      }
    }
  }
}

.footer > .content-wrap > .footer-info > .footer-btm > .item-4 {
  font-size: $fontXXM;
  line-height: 1.3;
  text-align: right;

  ul.footer-menu-box {
    li.menu-item {
      a {
        display: inline-block;
        transition: all 0.5s;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: white;
          transition: inherit;
          transform: scaleX(0);
          transform-origin: left;
        }

        .overflow-box {
          overflow: hidden;
          > span {
            display: inline-block;
            position: relative;
            transition: all 0.3s ease-in-out;

            &::after {
              content: var(--content);
              // content: "hello";
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 100%;
              opacity: 0;
              transition: inherit;
            }
          }
        }

        &:hover {
          .overflow-box > span {
            transform: translateX(-100%);

            &::after {
              opacity: 1;
            }
          }
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  > p {
    padding-top: 1.8rem;
    font-size: $fontXS;
    color: $bg-color;
  }
}
// =============================================================
// =========================== mobile ==========================
// =============================================================
@media (max-width: 768px) {
  // mobile loading page
  .loading-page > .text-box {
    h2 {
      font-size: 6vw;
    }
  }
  .loading-page > .percentage {
    font-size: 8vw;
  }

  // mobile header
  .header > .header-wrap {
    padding: 0 12px;
    max-height: 60px;

    .logo {
      width: 77px;
    }

    > .menu-box-wrap {
      gap: 2.5rem;
      > .menu-box {
        display: none;
      }

      > .nav-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  // mobile section2
  .section-2 .content-wrap {
    padding: 15rem 2rem;

    > h2 {
      font-size: 3.5rem;

      &:nth-child(4) {
        font-size: 14px;
      }
    }
  }

  // mobile section 3
  .section-3 > .content-wrap > h2 {
    font-size: 3.2rem;
  }
  .section-3 > .content-wrap > .portfolio .port-item > a > .text {
    font-size: 1.8rem;
  }

  // mobile section 4
  .section-4 .content-wrap > h2 {
    font-size: 3.2rem;
  }
  .section-4 > .content-wrap > .item-container > {
    .item-box-2 {
      padding: 0 2rem;
    }

    .item-box-1,
    .item-box-3 {
      display: none;
    }
  }

  // mobile footer
  .footer > .content-wrap > .marquee-container {
    padding: 4.2rem;
    > .marquee-wrap > .marquee-slide {
      font-size: 4.2rem;
    }
  }

  .footer > .content-wrap > .footer-info > .footer-top {
    flex-direction: column;
    gap: 2rem;

    > .item-1 {
      text-align: center;
      .img-box {
        width: 120px;
        display: inline-block;
      }
    }

    > .item-2 {
      h3 {
        font-size: 2.5rem;
        text-align: center;
      }
      .now-btn {
        font-size: 2rem;
        text-align: center;
        > a {
          padding: 0.6rem 3rem;
          margin-top: 2rem;
        }
      }
    }
  }
  .footer > .content-wrap > .footer-info > .footer-btm {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    > .item-3 > .info-grid {
      font-size: 1.8rem;

      .flex-box {
        justify-content: center;
        > li {
          min-width: 50px;
        }
      }
    }

    > .item-4 {
      font-size: 2rem;
      line-height: 1.3;
      text-align: center;
    }
  }
}
